[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
python-dotenv = "*"
alembic = "*"
psycopg2-binary = "*"
awscli = "*"
boto3 = "*"
graphene-sqlalchemy = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
Flask-Cors = "*"
PyJWT = "*"
Flask-GraphQL = "*"
Flask-JWT-Extended = "*"

[requires]
python_version = "3.8"
